<div class="container">
    <div class="left">
      <h2>Gestion des aquariums</h2>
      <input #aquariumName type="text" placeholder="Nom de l'aquarium" />
      <button (click)="addAquarium(aquariumName.value)">Ajouter Aquarium</button>
      <ul>
        <li *ngFor="let aquarium of aquariums">
          {{ aquarium.name }}
          <ul>
            <li *ngFor="let fish of aquarium.fish">{{ fish.name }}</li>
          </ul>
        </li>
      </ul>
    </div>
  
    <div class="right">
      <app-fish></app-fish>
    </div>
  </div>
  