<div>
  <h2>Ajouter un poisson</h2>
  <input #fishName type="text" placeholder="Nom du poisson" />
  <select #aquariumSelect>
    <option *ngFor="let aquarium of aquariums" [value]="aquarium.name">{{ aquarium.name }}</option>
  </select>
  <button (click)="addFish(fishName.value, aquariumSelect.value)">Ajouter Poisson</button>
</div>

<ul>
  <li *ngFor="let fish of fishList">{{ fish.name }}</li>
</ul>
